<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>74C4AE8B-6D99-445A-9756-87603F914889</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0278148D-CB41-4422-8154-9937CC4A133F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>aubreypwd</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open Simulator Instance</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sim</string>
				<key>subtext</key>
				<string>open -n Simulator.app</string>
				<key>text</key>
				<string>Open iOS Simulator (Another Instance)</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>74C4AE8B-6D99-445A-9756-87603F914889</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>## http://stackoverflow.com/questions/26446346/xcode6-run-two-instances-of-the-simulator
cd /Applications/Xcode.app/Contents/Developer/Applications/
open -n Simulator.app</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0278148D-CB41-4422-8154-9937CC4A133F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0278148D-CB41-4422-8154-9937CC4A133F</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>74C4AE8B-6D99-445A-9756-87603F914889</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://twitter.com/aubreypwd</string>
</dict>
</plist>
